name: Verify BANSOU Token

on:
  pull_request:

jobs:
  bansou:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install local action dependencies
        run: npm install --omit=dev
        working-directory: ./.github/actions/bansou
      - uses: ./.github/actions/bansou
        with:
          issuer: https://bansou-server.soraki0101.workers.dev
          jwks_url: https://bansou-server.soraki0101.workers.dev/.well-known/jwks.json
          required_quiz_id: core-pr
